body {
    font-family: Arial, sans-serif;
    background: #F3B4D6;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff2c8d;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff2c8d;
  }
  